[Desktop Entry]
Type=Application
Name=Files
Name[de]=Dateien
Name[es]=Archivos
Name[fr]=Fichiers
Name[it]=File
Name[pl]=Pliki
Name[pt_BR]=Arquivos
Name[ru]=Файлы
Name[uk]=Файли
Name[zh_CN]=文件
GenericName=File Manager
GenericName[de]=Dateiverwaltung
GenericName[es]=Gestor de archivos
GenericName[fr]=Gestionnaire de fichiers
GenericName[it]=Gestore file
GenericName[pl]=Menedżer plików
GenericName[pt_BR]=Gerenciador de arquivos
GenericName[ru]=Файловый менеджер
GenericName[uk]=Файловий менеджер
GenericName[zh_CN]=文件管理器
Comment=Browse and manage files
Comment[de]=Dateien durchsuchen und verwalten
Comment[es]=Explora y gestiona tus archivos
Comment[fr]=Parcourir et gérer les fichiers
Comment[it]=Sfoglia e gestisci i file
Comment[pl]=Przeglądaj pliki i zarządzaj nimi
Comment[pt_BR]=Navegue pelos arquivos e gerencie-os
Comment[ru]=Просмотр файлов и управление ими
Comment[uk]=Перегляд файлів і керування ними
Comment[zh_CN]=浏览和管理文件
Exec=otto-files %f
TryExec=otto-files
Icon=otto-files
Terminal=false
Categories=System;FileTools;FileManager;
Keywords=files;folders;browser;manager;explorer;finder;otto;
Keywords[de]=Dateien;Ordner;Verzeichnis;Browser;Verwaltung;Explorer;Otto;
Keywords[es]=archivos;carpetas;directorios;navegador;gestor;explorador;otto;
Keywords[fr]=fichiers;dossiers;répertoires;navigateur;gestionnaire;explorateur;otto;
Keywords[it]=file;cartelle;directory;browser;gestore;esplora;otto;
Keywords[pl]=pliki;foldery;katalogi;przeglądarka;menedżer;eksplorator;otto;
Keywords[pt_BR]=arquivos;pastas;diretórios;navegador;gerenciador;explorador;otto;
Keywords[ru]=файлы;папки;каталоги;браузер;менеджер;проводник;otto;
Keywords[uk]=файли;теки;каталоги;браузер;менеджер;провідник;otto;
Keywords[zh_CN]=文件;文件夹;目录;浏览;管理器;资源管理器;otto;
MimeType=inode/directory;
StartupNotify=true
StartupWMClass=otto-files
