[D-BUS Service]
Name=org.freedesktop.impl.portal.desktop.otto
Exec=/usr/libexec/xdg-desktop-portal-otto
SystemdService=xdg-desktop-portal-otto.service
