[Unit]
Description=Portal service (Otto implementation)
PartOf=graphical-session.target
After=graphical-session.target

[Service]
Type=dbus
BusName=org.freedesktop.impl.portal.desktop.otto
ExecStart=/usr/libexec/xdg-desktop-portal-otto
Restart=on-failure
